.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.otherContent {
  font-size: calc(8px + 1vmin);
}

.eventContent {
  border-Bottom:2px solid grey;
  margin-Bottom:.5rem;
  font-size: calc(8px + 1vmin);
}

.body {
  background-color: #e9ecef;
}
.deleteButton {
  border-radius: 15px;
  background: #e7321a;
  padding: 20px;
  width: 80px;
  height: 10px;
  line-height : 0px;
}

.editButton {
  border-radius: 15px;
  background: #73AD21;
  padding: 20px;
  width: 80px;
  height: 10px;
  line-height : 0px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

