.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.content {
  background-color: #e9ecef;
  margin-bottom: 0rem;
}


.profile {
  text-align: center;
  background-color: #373b42;
  color: #e9ecef;
}

.main-footer {
  position: static;;
  bottom: 0rem;
}

.footer-content {
  flex: 1;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #323436;

  color: rgb(211, 209, 209);
}

.footer-bottom {
  text-align: center;
}

.row {
  justify-content: space-between;
}

.welcomeContent {
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.beforeWelcome {
  height: 100%;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mapView {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

